<!DOCTYPE html>
<html>
<head>
<title>Vehicle Identification System</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<div class="navbar">

<div class="logo">
Vehicle Identification System
</div>

<div class="nav-links">
<a href="/">Home</a>
<a href="/upload">Upload</a>
<a href="/search">Search</a>
</div>

</div>

<div class="hero">

<h1>AI Vehicle Identification System</h1>

<p>
Detect Vehicle Type, Vehicle Number
and Search Records Instantly
</p>

</div>

<div class="footer">
Developed using Flask + YOLO + EasyOCR
</div>

</body>
</html>